/* stylelint-disable max-line-length */

/* Ciutadella - Qantas brand font (licensed, self-hosted) */
@font-face {
  font-family: ciutadella;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://freight.qantas.com/etc/designs/qantas/global/font/315CA1_1_0.woff2') format('woff2');
}

@font-face {
  font-family: ciutadella;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://freight.qantas.com/etc/designs/qantas/global/font/315CA1_3_0.woff2') format('woff2');
}
